global
    log /dev/log    local0
    maxconn 4096
    daemon

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind *:80
    default_backend flask_servers

backend flask_servers
    balance roundrobin
    option httpchk GET /
    server app1 192.168.2.201:5000 check
    server app2 192.168.2.202:5000 check
